form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div{
    margin:.6rem 0;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
form div label{
    text-transform: uppercase;
}
form .submit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.data{
    position: relative;
    top: 8rem;
    /* left: 5rem; */
}
