<table>
    <thead>
        <tr>
            <th>name</th>
            <th>phone</th>
            <th>Email</th>
            <th>password</th>
            <th>message</th>
            
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let datas of DATA">
            <td>{{datas.name}}</td>
            <td>{{datas.phone}}</td>
            <td>{{datas.email}}</td>
            <td>{{datas.password}}</td>
            <td>{{datas.message}}</td>
            <td (click)="onEdit(datas)">edit</td>
            <td (click)="Delete(datas)">delete</td>
        </tr>
    </tbody>
</table>
